body {
    background-image: url(./imgs/bg.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}

header {
    background-color: gray;
}

.ht {
    margin-left: 5%;
}

.sButton {
    margin-left: 60%;
}